* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2em;
  color: #888;
}

.column-uid,
.column-id,
.column-title,
.column-body {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
